@model SYP.Models.Muhtac

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="text-align:center">@Html.DisplayFor(model => model.Baslik)</h2>

    <div class="container" id="adresid">

        <h4>Yardım Bilgileri</h4>
        <br />
        <div class="row">
            <div class="col-md-6 form-group">
                <strong>Adı ve Soyadı:</strong>  @Html.DisplayFor(model => model.MuhtacAdiSoyadi)
            </div>
            <div class="col-md-6 form-group">
                <strong>Açıklama:</strong>  @Html.DisplayFor(model => model.Aciklama)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <strong>Yardım Türü: </strong> @Html.DisplayFor(model => model.YardimTuru.YardimTuruAdi)
            </div>
            <div class="col-md-6 form-group">
                <strong>Aciliyet:</strong>  @Html.DisplayFor(model => model.Aciliyet)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <strong>Adres: </strong> @Html.DisplayFor(model => model.Adres.AdresDetay) /
                @Html.DisplayFor(model => model.Il.IlAdi) /
                @Html.DisplayFor(model => model.Adres.Ilce)
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <strong>Onay Durumu: </strong> @Html.DisplayFor(model => model.AdminOnay)
            </div>
            <div class="col-md-6 form-group">
                <strong>Yardım Yapıldı mı? : </strong>  @Html.DisplayFor(model => model.YardimYapildimi)
            </div>
        </div>

        <div class="alert alert-danger" role="alert">
            <strong> <span class="glyphicon glyphicon-remove"></span> Silmek  İstediğinize Emin misiniz?</strong>
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger btn-xs" /> |
                @Html.ActionLink("Geri", "Index",null,new {@class="btn btn-primary btn-xs" })
            </div>
        }
    </div>
    <hr />


    <style>
        #adresid {
            border-style: solid;
            border-width: 1px;
            border-color: #475846;
            border-radius: 10px;
            width: 900px;
        }
    </style>






