@model SYP.Models.Muhtac

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" id="adresid">

    <h2 style="text-align:center" class="alert alert-warning">@Html.DisplayFor(model => model.Baslik)</h2>

    <h4>Yardım Bilgileri</h4>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <strong>Adı ve Soyadı:</strong>  @Html.DisplayFor(model => model.MuhtacAdiSoyadi)
            </div>
            <div class="form-group">
                <strong>Açıklama:</strong>  @Html.DisplayFor(model => model.Aciklama)
            </div>
            <div class="form-group">
                <strong>Adres: </strong> @Html.DisplayFor(model => model.Adres.AdresDetay) /
                @Html.DisplayFor(model => model.Il.IlAdi) /
                @Html.DisplayFor(model => model.Adres.Ilce)
            </div>
            <div class="form-group">
                <span class="alert alert-success"> <strong>@Model.Okunma.ToString()</strong> <font face="Comic sans MS" size="2"> defa görüntülendi.</font> </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <strong>Yardım Türü: </strong> @Html.DisplayFor(model => model.YardimTuru.YardimTuruAdi)
            </div>
            <div class="form-group">
                <strong>Aciliyet:</strong>  @Html.DisplayFor(model => model.Aciliyet)
            </div>
            <div class="form-group">
                <strong>Google Map Link:</strong> 
                <a href="https://www.google.com/maps/place/@Model.GoogleMap"><img class="animated  flash  delay-4s slower"
                                src="/bitirmeresim/googlemap.png" 
                                style="width: 50px; height: auto"/></a>
                
            </div>
        </div>

    </div>
  
</div>

<div class="container" style="width:900px; margin-top:30px">
    <div class="row">

        <div class="card" style="width:100%; margin-top:20px; margin-bottom:20px; border:solid 2px rgba(184, 181, 181, 0.85)">
            <div class="alert alert-warning" style="text-align:center"><strong>YAPILAN YARDIMLAR</strong>  </div>

            <table class="table table-bordered">
                @foreach (var item in Model.Yardimlar.Where(i => i.Onay == true))
                {
                    <tr>
                        <td width="15%">
                            <i class="fa fa-user"></i>  <font face="Comic sans MS" size=" 3">@item.Kullanici.KullaniciAdi</font>
                        </td>
                        <td width="67%">
                            <small> @Html.DisplayFor(modelItem => item.YapilanYardim)</small>
                        </td>
                        <td width="18%">
                            <font face="Comic sans MS" size=" 2">@Html.DisplayFor(modelItem => item.Tarih)</font>
                        </td>

                    </tr>

                }

            </table>
            @if (TempData["Yardimeklendi"] != null)
            {
                <div class="alert alert-success" id="yardimveyorum"> <strong>@TempData["Yardimeklendi"]</strong> </div>
            }
            @if (TempData["Yardimhata"] != null)
            {
                <div class="alert alert-danger">@TempData["Yardimhata"]</div>
            }
            @if (TempData["Yardimsil"] != null)
            {
                <div class="alert alert-danger" id="yardimveyorum">@TempData["Yardimsil"]</div>
            }
            @if (Model.Yardimlar.Count() == 0)
            {
                <div class="alert alert-danger">Henüz yapılan yardım yok.</div>
            }

            @if (Session["uyeid"] != null)
            {

                <div class="card" style="width:100%; padding:20px;">
                    <form role="form" class="form-inline">
                        <div class="form-group row">
                            <textarea style="width:1000px" class="form-control col-sm-8 " id="yardim" typeof="text" rows="1" placeholder="Ör:  *****   yardımı yapıldı. "></textarea>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Yardım Yap</button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Yardımı Yaptığınızdan Emin misiniz?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body alert-danger">
                                            Devam ettiğiniz halde yardımınız ekibimiz tarafından kontrol edildikten sonra onaylanacaktır.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                            <button type="submit" id="yardimgonder" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Evet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>

            }
        </div>


    </div>
</div>
<div class="container" style="width:900px; margin-top:30px">

    <div class="row">
        @Html.Action("YorumList", new { id = Model.Id })
    </div>

</div>






<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#yardimveyorum").fadeOut(10000);
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#yardimgonder").click(function () {
            var yardiminiz = $("#yardim").val();
            $.ajax({
                url: '/Muhtac/YardimYap',
                data: { yardim: yardiminiz, muhtacid:@Model.Id },
                type: 'POST',
                dataType: 'json',
            });
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var yorumunuz = $("#yorum").val();
            $.ajax({
                url: '/Muhtac/YorumYap',
                data: { yorum:yorumunuz, muhtacid:@Model.Id },
                type: 'POST',
                dataType: 'json',
            });
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Muhtac/OkunmaArttir/',
            data: { muhtacid: @Model.Id },
            type:'POST',
        });
    })
</script>

<style>
    #adresid {
        border-style: solid;
        border-width: 2px;
        border-color: #808080;
        border-radius: 10px;
        width: 900px;
        padding-bottom: 30px;
    }
</style>



