@model SYP.Models.Muhtac

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" id="adresid">

    <h2 style="text-align:center" class="alert alert-warning">@Html.DisplayFor(model => model.Baslik)</h2>

    <h4>Yardım Bilgileri</h4>
    <br />
    <div class="row">
        <div class="col-md-6 form-group">
            <strong>Adı ve Soyadı:</strong>  @Html.DisplayFor(model => model.MuhtacAdiSoyadi)
        </div>
        <div class="col-md-6 form-group">
            <strong>Açıklama:</strong>  @Html.DisplayFor(model => model.Aciklama)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <strong>Yardım Türü: </strong> @Html.DisplayFor(model => model.YardimTuru.YardimTuruAdi)
        </div>
        <div class="col-md-6 form-group">
            <strong>Aciliyet:</strong>  @Html.DisplayFor(model => model.Aciliyet)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <strong>Adres: </strong> @Html.DisplayFor(model => model.Adres.AdresDetay) /
            @Html.DisplayFor(model => model.Il.IlAdi) /
            @Html.DisplayFor(model => model.Adres.Ilce)
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <strong>Onay Durumu: </strong> @Html.DisplayFor(model => model.AdminOnay)
        </div>
        <div class="col-md-6 form-group">
            <strong>Yardım Yapıldı mı? : </strong>  @Html.DisplayFor(model => model.YardimYapildimi)
        </div>
    </div>


    <div class="row">
        <div class="col">
            <p>
                @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Geri", "Index", null, new { @class = "btn btn-light" })
            </p>
        </div>
        <div class="col">
            <span class="alert alert-success"> <strong>@Model.Okunma.ToString()</strong> defa görüntülendi. </span>
        </div>
    </div>


</div>
<div class="container" style="width:900px; margin-top:30px">

    <div class="row">
        @Html.Action("YorumList", new { id = Model.Id })
    </div>
    @if (Session["uyeid"] != null)
    {
        <div class="row" style="margin-bottom:20px;">
            <div class="card" style="width:100%; padding:20px;">
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" id="yorum" typeof="text" rows="1"></textarea>
                    </div>
                    <button type="submit" id="gonder" class="btn btn-primary">Yorum Yap</button>
                </form>
            </div>
        </div>
    }

</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var yorumunuz = $("#yorum").val();
            $.ajax({
                url: '/Muhtac/YorumYap',
                data: { yorum:yorumunuz, muhtacid:@Model.Id },
                type: 'POST',
                dataType: 'json',
                //success: function (data) { alert("Yorum Gönderildi" + yorumunuz); }
            });
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Muhtac/OkunmaArttir/',
            data: { muhtacid: @Model.Id },
            type:'POST',
        });
    })
</script>

<style>
    #adresid {
        border-style: solid;
        border-width: 2px;
        border-color: #808080;
        border-radius: 10px;
        width: 900px;
    }
</style>



