@model SYP.Models.Muhtac

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">

    @using (Html.BeginForm("Edit", "Muhtac", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Düzenle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MuhtacAdiSoyadi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MuhtacAdiSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MuhtacAdiSoyadi, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.YardimTuru, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(i => i.YardimTuru.Id, (List<SelectListItem>)ViewBag.YardimTurleri, "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.YardimTuru, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Aciliyet, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Aciliyet, new { htmlAttributes = new { @class = "form-control", placeholder = "1-5 arasında olmalı. 1: Acil Değil 5: Çok Acil" } })
                            @Html.ValidationMessageFor(model => model.Aciliyet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Il, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(i => i.Il.Id, (List<SelectListItem>)ViewBag.Iller, "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Il, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Adres.Ilce, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Adres.Ilce, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adres.Ilce, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adres.AdresDetay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adres.AdresDetay, new { htmlAttributes = new { @class = "form-control", placeholder = "Örnek Mah. Zeybek Sk. No:01" } })
                    @Html.ValidationMessageFor(model => model.Adres.AdresDetay, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-check">
                <div class="row">
                    <div class="col-md-3">
                        <h6>Yardım Tamamlandı mı?</h6>
                    </div>
                    <div class="col">
                        @Html.CheckBoxFor(model => model.YardimYapildimi, new { @class = " form-check-input", @style = "height:20px; width:20px;" })
                        @Html.ValidationMessageFor(model => model.YardimYapildimi, "", new { @class = "text-danger" })
                    </div>
                </div>
             
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </div>
        </div>
    }


</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
