@model SYP.Models.viewModel.bagisYapPartialModel

<style>
    .badge {
        text-align: right;
        margin-left: 50%;
    }
</style>

<div class="card bagisdiv">
    <div class="card-header">
        <h6>Bağış Yap</h6>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a href="/Muhtac/List/3" class="list-group-item list-group-item-action list-group-item-danger">Sağlık<span style="position:absolute; right:10px;" class="badge badge-danger badge-pill">@Model.Saglik</span></a>
            <a href="/Muhtac/List/4" class="list-group-item list-group-item-action list-group-item-info">Gıda<span style="position:absolute; right:10px;" class="badge badge-danger badge-pill">@Model.Gida</span></a>
            <a href="/Muhtac/List/2" class="list-group-item list-group-item-action list-group-item-success">Maddi <span style="position:absolute; right:10px;" class="badge badge-danger badge-pill">@Model.Maddi</span></a>
            <a href="/Muhtac/List/5" class="list-group-item list-group-item-action list-group-item-warning">Giyim <span style="position:absolute; right:10px;" class="badge badge-danger badge-pill">@Model.Giyim</span></a>
            <a href="/Muhtac/List/1" class="list-group-item list-group-item-action list-group-item-primary">Eğitim<span style="position:absolute; right:10px;" class="badge badge-danger badge-pill">@Model.Egitim</span></a>
        </div>
    </div>
</div>
