@model SYP.Models.Muhtac

@{
    ViewBag.Title = "IhtiyacSahibiDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IhtiyacSahibiDetay</h2>

<div>
    <h4>Muhtac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuhtacAdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuhtacAdiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YardimYapildimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YardimYapildimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
