

@model IEnumerable<SYP.Models.Muhtac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .imgler img {
        border: 5px solid;
        border-radius: 50%;
    }
</style>

<div class="row">
    @*<div class="col-md-2" style="border:solid">

    </div>*@
    <div class="col-md-12">
        <div class="row imgler">
            <div class="col-md-2">
                <a href="/Home/List/6"><img src="~/bitirmeresim/acil.png" height="130" width="130" /></a>
                <p style="text-align:center">Acil</p>
            </div>
            <div class="col-md-2">
                <a href="/Home/List/1"><img src="~/bitirmeresim/egitim.png" height="130" width="130" /></a>
                <p style="text-align:center">Eğitim</p>
            </div>
            <div class="col-md-2">
                <a href="/Home/List/2"><img src="~/bitirmeresim/tl22.png" height="130" width="130" /></a>
                <p style="text-align:center">Maddi</p>
            </div>
            <div class="col-md-2">
                <a href="/Home/List/3"><img src="~/bitirmeresim/saglik.jpg" height="130" width="130" /></a>
                <p style="text-align:center">Sağlık</p>
            </div>
            <div class="col-md-2">
                <a href="/Home/List/4"><img src="~/bitirmeresim/food.jpg" height="130" width="130" /></a>
                <p style="text-align:center">Gıda</p>
            </div>
            <div class="col-md-2">
                <a href="/Home/List/5"><img src="~/bitirmeresim/giysi2.png" height="130" width="130" /></a>
                <p style="text-align:center">Giyim</p>
            </div>

        </div>

        <h2 class="alert-success"> Yardım Bekleyen İhtiyaç Sahipleri </h2>
        <table class="table table-bordered table-striped table-hover ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Baslik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciliyet)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Il.IlAdi) /
                        @Html.DisplayFor(modelItem => item.Adres.Ilce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciliyet)
                    </td>
                    <td>
                        @Html.ActionLink("Detay", "Detay", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
