@model IEnumerable<SYP.Models.Muhtac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eklediğiniz İhtiyaç Sahipleri</h2>

@if (TempData["Duzenlendi"] != null)
{
    var muhtac = (SYP.Models.Muhtac)TempData["Duzenlendi"];
    <div class="alert alert-success" role="alert">
        <strong> <span class="glyphicon glyphicon-ok"></span> @muhtac.Baslik </strong> düzenlendi.
    </div>
}

@if (TempData["eklendi"] != null)
{
    <div class="col-md-12">
        <div class="alert alert-success">
            @TempData["eklendi"].ToString()
        </div>
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuhtacAdiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciliyet)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuhtacAdiSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Il.IlAdi) /
                @Html.DisplayFor(modelItem => item.Adres.Ilce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciliyet)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", "Muhtac", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Detay", "Details", "Muhtac", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Sil", "Delete", "Muhtac", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("İhtiyaç Sahibi Ekle", "Create", "Muhtac", new { area = "" }, new { @class = "btn btn-success btn-xs" })
    @*@Html.ActionLink("Create New","/Home/Ekle","",new {@class="btn btn-success"})*@
</p>