@model List<SYP.Models.Muhtac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .imgler img {
        border: 5px solid;
        border-radius: 50%;
    }
</style>

<div class="row">
    <div class="col-md-3" style="">
        @Html.Partial("AramaPartial")
        @Html.Action("bagisSayilari", "Home")
        @if (Convert.ToBoolean(Session["yetki"]) == true)
        {
            <a href="/Portal/List" style="text-align:center; margin-top:20px" class="list-group-item list-group-item-action list-group-item-success"><strong>Portal Paneli</strong></a>
            <a href="/Admin/Kullanicilar" style="text-align:center; margin-top:5px" class="list-group-item list-group-item-action list-group-item-success"><strong>Kayıtlı Kullanıcılar</strong></a>
            <a href="/Admin/Kullanicilar" style="text-align:center; margin-top:5px" class="list-group-item list-group-item-action list-group-item-success"><strong>Yapılan Yardımlar</strong></a>
        }
    </div>
    <div class="col-md-9">
        <div class="row imgler">
            <div class="col-md-2">
                <a href="/Admin/Index/6"><img src="~/bitirmeresim/acil.png" height="100" width="100" /></a>
                <p style="text-align:center">Acil</p>
            </div>
            <div class="col-md-2">
                <a href="/Admin/Index/1"><img src="~/bitirmeresim/egitim.png" height="100" width="100" /></a>
                <p style="text-align:center">Eğitim</p>
            </div>
            <div class="col-md-2">
                <a href="/Admin/Index/2"><img src="~/bitirmeresim/tl22.png" height="100" width="100" /></a>
                <p style="text-align:center">Maddi</p>
            </div>
            <div class="col-md-2">
                <a href="/Admin/Index/3"><img src="~/bitirmeresim/saglik.jpg" height="100" width="100" /></a>
                <p style="text-align:center">Sağlık</p>
            </div>
            <div class="col-md-2">
                <a href="/Admin/Index/4"><img src="~/bitirmeresim/food.jpg" height="100" width="100" /></a>
                <p style="text-align:center">Gıda</p>
            </div>
            <div class="col-md-2">
                <a href="/Admin/Index/5"><img src="~/bitirmeresim/giysi2.png" height="100" width="100" /></a>
                <p style="text-align:center">Giyim</p>
            </div>

        </div>

        <h2 class="alert-success" style="text-align:center"> Yardım Bekleyen İhtiyaç Sahipleri </h2>


        @using (Html.BeginForm("Kaydet", "Admin", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <div class="card-group" style="margin-bottom:20px;">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>@Model[i].Baslik</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h6 class="card-title">@Model[i].MuhtacAdiSoyadi</h6>
                                            <p> @Model[i].Aciklama</p>
                                            <p> @Model[i].Adres.AdresDetay   @Model[i].Il.IlAdi / @Model[i].Adres.Ilce </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    Yardım Türü: @Model[i].YardimTuru.YardimTuruAdi
                                                </div>
                                                <div class="col-md-6">
                                                    Aciliyet : @Model[i].Aciliyet
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center" style="margin:auto">
                                            @Html.HiddenFor(m => m[i].Id)
                                            Onay : @Html.CheckBoxFor(m => m[i].AdminOnay)
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @if (Model[i].EklenmeTarihi.HasValue)
                                            {
                                                <small class="text-muted">  @DateTime.Parse(Model[i].EklenmeTarihi.ToString()).ToShortDateString() tarihinde eklendi.</small>
                                            }
                                            else
                                            {
                                                <small class="text-muted">  ** tarihinde eklendi.</small>
                                            }
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-muted"> <strong>@Model[i].Kullanici.Tel</strong>  numaralı kullanıcı tarafından eklendi.</small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Count() == 0)
                    {
                        <div class="alert alert-danger">
                            <h4> Kayıt Bulunamadı...</h4>
                        </div>
                    }
                    <button type="submit" class="btn btn-danger" style="text-align:right; margin-bottom:20px">Kaydet</button>
                </div>
            </div>

        }

    </div>
</div>

