@model IEnumerable<SYP.Models.YardimDetay>

@{
    ViewBag.Title = "Yardimlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yardımlar</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muhtac.Baslik)
        </th>
        <th>
            Yapılan Yardım
        </th>
        <th>
            Onay Ver
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="15%">
                <i class="fa fa-user"></i>  <font face="Comic sans MS" size=" 3">@item.Kullanici.KullaniciAdi</font>
            </td>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.Muhtac.Baslik)
            </td>
            <td width="30%">
                <small>@Html.DisplayFor(modelItem => item.YapilanYardim)</small>
            </td>
            <td width="15%">
                @if (item.Onay == true)
                {
                    <span class="badge badge-success" style="">Onaylandı</span>
                    <small><a class="" style="color:red; font-weight:500 " href="/Admin/YardimOnayi/@item.Id">Geri Al</a></small>
                }
                else
                {
                    @Html.ActionLink("Onayla", "YardimOnayi", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" });
                }
            </td>
            <td width="10%">
                <font face="Comic sans MS" size=" 2">@Html.DisplayFor(modelItem => item.Tarih)</font>
            </td>
            <td width="5%">
                @Html.ActionLink("Detay", "Details", "Muhtac", new { id = item.Muhtac.Id }, new { @class = "btn btn-warning btn-sm" })
            </td>
            <td width="5%">
                @Html.ActionLink("Sil", "YardimOnayiSil", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>

@if (TempData["Yardimonaysilindi"] != null)
{
    <div class="alert alert-success">@TempData["Yardimonaysilindi"]</div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".alert-success").fadeOut(3000);
    });
</script>